	/* 게시판 상세 */
    .detail {
        width: 700px; margin: 0 auto;
        border-top: 3px solid gray; border-bottom: 3px solid gray;
    }
    .detail .name {margin: 0 0 0 15px; float: left;}
    .detail .date {margin: 0 15px 0 0; float: right;}
    .detail .box {
        white-space: pre-line; padding: 10px;
        border: 1px solid black;
    }
    .detail hr {clear: both;}
    .detail p {text-align: center;}
    .detail .button {padding: 0 200px; margin: 15px auto;}    
    .detail .button a {
        border: 1px solid black; background: gainsboro;
        margin: 10px; padding: 5px;
        text-decoration: none; color: black;
    }
    .detail .button a:hover {color: blueviolet;}