<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 글쓰기</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}"/>
</head>
<body>
    <header>
        <div class="homebox">
            <div>
                <a href="index.html" class="logo"></a>
            </div>
        </div>
    </header>

 
    <main>
        <form class="write">
            <input type="text" placeholder="내용을 입력해주세요." class="text" required>
            <div class="button">
                <p><button>입력</button></p>
            </div>
        </form>
    </main>

</body>
</html>